* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*generals*/
header {
  background-color: #3160e0;
  padding: 10px 0px;
}

.wh-tx {
  color: white;
  text-decoration: solid;
  font-size: 20px;
  text-align: center;
}

li {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-align: left;
}

.text-title {
  color: #768ED0;
}

.button {
  border-radius: 23px;
  color: black;
  background-color: white;
  border: 1px solid white;
  margin: 16px;
  height: 20px;
  line-height: 0;
}

.button-2 {
  border-radius: 23px;
  color: #fff;
  background-color: #8ea1e4;
  border: 1px solid #8ea1e4;
  margin: 16px;
  height: 29px;
  text-align: center;
  width: 75px;
}


.click {
  display: flex;
  margin: 10px;
  padding: 20px;
  justify-content: space-around;
}

h3 {
  font-size: 50px;
  text-align: left;
  margin: 10px auto;
  padding: 20px;
}

h4 {
  font-size: 30px;
  text-align: left;
  margin: 10px auto;
  padding: 20px;
}

.text {
  color: black;
  text-align: left;
  margin: 20px;
}

.text-botton {
  color: black;
}

/*Main*/

.patter {
  background-image: url(../img/copertina.jpg);
  background-position: 100%;
  background-size: cover;
  background-color: #2d63eb;
}

h2 {
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 85px;
  font-size: 35px;
}

h1 {
  text-align: center;
  margin: 0;
}

p {
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.img-4 {
  width: 106%;
  margin: -14px;
  height: 91%;
  padding: 0px;
  background-size: cover;
}

.pa-3 {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 100;
  margin-top: -33px;
  padding: 10px;
}

img-5 {
  margin-left: 10px;
}

.icone {
  display: flex;
  justify-content: left;
  font-size: 30px;
  gap: 10px;
  padding: 10px;
}



.bg-white {
  border-radius: 25px;
  color: black;
  background-color: white;
  border: 1px solid white;
  margin: 20px;
  height: 30px;
  line-height: 25px;
  width: 17%;
  text-align: center;
}

.bg-darkgray {
  border-radius: 25px;
  color: white;
  background-color: #23272a;
  border: 1px solid #23272a;
  margin: 20px;
  height: 32px;
  line-height: 29px;
  width: 28%;
  text-align: center;
}


footer {
  background-color: rgb(50, 50, 50);
}

.p-5 {
  padding: 5px;
}

.justify-content-between {
  justify-content: space-between;
}

.top-footer {
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

hr {
  padding: 20px;
}

.bottom-footer {
  padding-top: 20px;
  padding-bottom: 30px;
}


/*layout class*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.container-sm {
  max-width: 900px;
  margin: 0 auto;
}

.col-20 {
  width: 20%;
}

.col-40 {
  width: 40%;
  height: 500px;
}

.col-60 {
  width: 60%;
}

.col-15 {
  width: 15%;
  height: 500px;
}

.col-100 {
  width: 100%;
  height: 500px;
}

/*utility classes*/
.bg-gray {
  background-color: #f6f6f6;
}

.p-20 {
  padding: 20px;
}

.py-20 {
  padding: 20px 0;
}

.my-50 {
  margin: 0px auto;
}

/*content classes*/
ul {
  list-style-type: none;
}

header ul {
  display: flex;
  justify-content: center
}

header ul li {
  margin: 0px 15px;
}

.p-color {
  color: black;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}

.bt-decoration {
  border-radius: 25px;
  color: white;
  background-color: #8ea1e2;
  margin-left: 36%;
  height: 32px;
  line-height: 29px;
  width: 28%;
  text-align: center;

}